.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em;
    
}

.topiocos__titulo{
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__itens{
    margin: 2em 0.5em;
    
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.topicos__link{
    background-color: var(--laranja);
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 700;
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    

}

    @media screen and (min-width:1024px) {
        .topicos{
            padding: 5em;
        }
        .topiocos__titulo{
            font-size: 24px;
        }
        .topicos__link{
            font-size: 24px;
        }
    }
    
    @media screen and   (min-width: 1728px){
        .topicos{
            padding: 3em 28vw;
        }
    }